@include with-layout($header-style){
  .header {    
    @include container;
    text-align: center;
    h1 {
      margin-top: 20px;
      color: #000;
      font-family: 'Oswald', "jaf-bernino-sans","Lucida Grande",
          "Lucida Sans Unicode","Lucida Sans", "Geneva","Verdana",sans-serif;
      font-size: 1.5em;
      letter-spacing: 3px;
      text-shadow: 1px 0px 6px rgba(150, 150, 150, 0.51);
      // @include span(4 at 2 isolate);
      @include breakpoint(385px) {
        font-size: 2em;
      }

      @include breakpoint(544px) {
        font-size: 3em;
      }
    }
    p {
      @include span(6);
    }
    .face-cover {
      margin: 0 auto;
      width: 9em;
      height: 9em;
      #head-img {
        width: inherit;
        height: inherit;
        border-radius: 4.5em;
        border-width: 2px;
        border-style: solid;
        border-color: #F7C1B4;
      }      
    }


    #social-icons {
      margin-top: 20px;
      a {
        text-decoration: none;
        &:active {
          outline: none;
        }
      }

      .icon {
        margin-right: 8px;
        display: inline-block;
        height: 28px;

      }
      #facebook-img {
        height: inherit;
      }    
      #twitter-img {
        height: inherit;
      }

      #google-img {
        height: inherit;
      }

      #github-img {
        height: inherit;
      }
  

    }  
  }
}



