.container {
  padding: 10px 100px 100px 100px;
  margin: 40px auto 0 auto;
  border-radius: 5px;
  // background-image: image-url('paper.jpg');
  background-color: #FFF2F2;
  line-height: 1.6em;
  // border: 2px solid $gray;
  @include box-sizing(border-box);
  section {
     margin-top: 50px;
  }

  .p-wrapper 
  {
    max-width: 400px;
    margin: 0 auto;
    p {
      text-align: left;
    }
  }

  h2 {
    max-width: 600px; 
    margin: 0 auto;
  }

  h3 {
    color: #8a8a8a;
    text-align: left;
  }
}