@import "compass";
@import "susy";
@import "breakpoint";



@import "variables";
@import "layout";



@import "page";
@import "header";
@import "footer";




h1 {
  padding-top: 20px;
}


body {
  position: relative;
  margin-top: 70px;
  padding-bottom: 80px;
  background-color: #ffede4;
  font-family: "Roboto Slab", serif;
  z-index: 0;
}

img {
  width: inherit;
}

