---
title: All about Yukai Huang here
---

-# #water1
-# #water2
-# #water3

.header
  =image_tag 'head.png', id: 'head-img', width: '150px', height: '150px'
  #social-icons 
    %a{:href => 'https://www.facebook.com/yukaihuang93'}
      .icon=image_tag 'facebook44.png', height: '28px'
    %a{:href => '#'}
      .icon=image_tag 'social71.png', height: '28px'
    %a{:href => 'https://plus.google.com/u/0/+黃鈺凱93'}
      .icon=image_tag 'social92.png', height: '28px'   
    %a{:href => 'http://github.com/yukaihuang1993'}
      .icon=image_tag 'github7.png', height: '28px'         
  %h1#title Yukai Huang
  %p all about me here......maybe huh

.container
  %section
    %h2 有沒有平時筆戰很強<br\>要自介卻一個字都說不出來的八卦
    .p-wrapper
      %p 沒有啊，這句話又不是在說我，哼。
      %p 小弟雖然筆戰弱暴，不過基本的唬力還是有的，誰膽敢看不起我，絕不饒他，走著瞧！
      %p ...
      %p ...
      %p 好啦對不起QAQ，是沒啥好寫的，為了使版面整齊，縮小鋪排增加行數的目的就在這哼哼。
      %p 剩下來把技能表填一填就好了，Portfolio頁面就暫時放著不管他吧哈哈，我的大前端時代即將來臨啦喔耶！
  %section
    %h2 技能表
    .p-wrapper
      %p 更，目前還不好意思填，先暫緩吧...

  %section
    %h2 Q&A
    .p-wrapper
      %h3 你平常都在幹嘛？
      %p 讀聖賢書，做下賤事（哭） 
      %p 看動漫，聽音樂，享受宅在家的小確幸。
      %p 噢對當然還有coding啦，拜託專業捏。
      %h3 請用一句話描述你自己
      %p 呵呵
      %h3 這樣看起來您真是宅！（大拇哥）
      %h3 難道除了宅之外就沒可以說嘴的？
      %p 乾...就跟你說技能表還沒填咩，請耐心的等等杯。

.footer
  %p ©2014, Powered by MiddleMan, handcraft Haml / SCSS, SublimText 3